<!DOCTYPE html>
<html lang="en" ng-app="ng.bootstrap.demo">
<head>
	<meta charset="UTF-8">
	<title></title>
	<!-- begin module -->
	<script type='text/javascript' src='/javascript/collapse/collapse.js'></script>
	<!-- end -->
</head>
<body>
	hello world
</body>
</html>